<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="Suite">
  <test thread-count="5" parallel="classes" name="RegressionTest">
    <classes>
      <class name="testPackage.LoginRegressionTest"/>
    </classes>
  </test> <!-- RegressionTest -->
  
  <listeners>
  <listener class-name="extentreporter.ExtentReportListener"/>
</listeners>

 </suite> <!-- Suite -->
